/* ��ҵģ�� */
.zjwk_account_title{
	font-size:14px;
}



/* �̻�ģ�� */
.zjwk_oppty_title{
	font-size:14px;
}




/* ͨ�� */
.zjwk_common_zindex999{
	z-index:99;
}

.zjwk_common_none{
    display: none;
}